    <div class="cta-row">
      <p>{{ cta }}</p>
      <div>
        <a class="btn btn-primary" href="{{ site.telefon | tel }}">Zadzwoń: {{ site.telefon }}</a>
        <a class="btn btn-ghost" href="index.html#wycena">Poproś o wycenę</a>
      </div>
    </div>